@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Cubic11";
    src: url("../fonts/Cubic11Regular.ttf");
  }

  @layer base {
    .font-outline-2 {
      font-weight: bold;
      text-shadow: 
        2px 2px 0 #FEA419, 
        -2px 2px 0 #FEA419, 
        2px -2px 0 #FEA419, 
        -2px -2px 0 #FEA419;
    }
  }